body {
  background: #eee;
}

.navbar {
  background: #5a5a5a;
  height: 80px;
  color: #fff;
}

.navbar img {
  display: inline-block;
}

.navbar span {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
  color: #fff;
}

.container {
  padding-top: 100px;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  background: #eeba37;
  border: 1px solid #eeba37;
}
a,
a:hover,
a:focus,
a:active {
  color: #e47911;
  cursor: pointer;
}
