body {
  background: #eee;
}

.navbar {
  background: #5a5a5a;
  height: 80px;
  color: #fff;
}

.navbar img {
  display: inline-block;
}

.navbar span {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
  color: #fff;
}

.container {
  padding-top: 100px;
}
