<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <a class="navbar-brand">
    <img src="http://www.ingresocloud.com/images/cld_ico1.png" width="50" height="50" />
    <span>Bus Cloud</span>
  </a>
</nav>
