<div class="visible-md visible-lg left">
  <h4>Dashboard</h4>
  <div class="item">
    <p><strong>Bus</strong></p>
    <a href="/hosts">Manage Bus</a>
  </div>
  <div class="item">
    <p><strong>Sensors</strong></p>
    <a href="/create">Create sensor</a>
    <a href="/sensors">Manage sensor</a>
    <a href="/hub">Provision sensor</a>
  </div>
  <div class="item">
    <p><strong>Billings</strong></p>
    <a href="/usages">Usage Reports</a>
    <a href="/billings">Billing History</a>
    <a href="/payments">Payment History</a>
  </div>
  <div class="item">
    <p><strong>Accounts</strong></p>
    <a href="/accounts">Manage Account</a>
  </div>
</div>
