<div class="dropdown sensor-type">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select sensor type
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a onClick="handleSensorType('temperature')">Temperature Sensor</a></li>
    <li><a onClick="handleSensorType('location')">Location Sensor</a></li>
    <li><a onClick="handleSensorType('image')">Image Sensor</a></li>
    <li><a onClick="handleSensorType('weight')">Weight Sensor</a></li>
  </ul>
</div>
