<link rel="stylesheet" type="text/css" href="../css/account.css">
{{> leftrail}}
<div class="right" ng-controller="accountController">
  <div class="heading-section">
    <h3>Manage Account</h3>
    <p>Manage your account information</p>
  </div>
</div>
<script src="../js/controllers/account.js"></script>
