{{> leftrail}}
<div class="right" ng-controller="billingsController">
  <div class="heading-section">
    <h3>Billings</h3>
    <p>View your billings history as below</p>
  </div>

</div>
<script src="../js/controllers/billings.js"></script>
