<link rel="stylesheet" type="text/css" href="../css/instances.css">
{{> leftrail}}
<div class="right" ng-controller="sensorsController">
  <div class="heading-section">
    <h3>Available Sensors</h3>
    <p>You are using the following sensors</p>
  </div>
  <a class="btn btn-primary" href="/create">Create Sensor</a>
</div>
<script src="../js/controllers/sensors.js"></script>
