{{> leftrail}}
<div class="right" ng-controller="loadbalanceController" ng-init="init()">
  <div id="page-wrapper">
    <div class="heading-section">
      <h3>Load Balancing</h3>
    </div>
  </div>
</div>
<script src="../js/controllers/loadbalance.js"></script>
