<link rel="stylesheet" type="text/css" href="../css/metering.css" />
{{> leftrail}}
<div class="right" ng-controller="meteringController" ng-init="init()">
  <div id="page-wrapper">
    <div class="heading-section">
      <h3>Sensor Metering</h3>
      <p>Calculate sensor usage and price</p>
    </div>
  </div>
</div>
<script src="../js/controllers/metering.js"></script>
