<link rel="stylesheet" type="text/css" href="../css/monitor" />
{{> leftrail}}
<div class="right" ng-controller="monitorController" ng-init="init()">
  <div id="page-wrapper">
    <div class="heading-section">
      <h3>Sensor Monitoring</h3>
    </div>
  </div>
  <div>
  </div>
</div>
<script src="../js/controllers/monitor.js"></script>
