<!DOCTYPE html>
<html ng-app="cloudApp">
<head>
  <meta charset="UTF-8">
  <title>CMPE 281 | Cloud Project</title>
</head>
<body>
<!-- Wrap Begin -->
<div class="wrap" ng-controller="cloudAppController">

  <div class="clear"></div>
  <input type="hidden" name="_csrf" value="{{_csrf}}" />
</div>

<script src="../lib/jquery/distjquery.min.js"></script>
<script src="../lib/angular/angular.min.js"></script>
<!-- Wrap End -->
</body>
</html>
